<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aglugluap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_log"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AglugluAP">
        <activity
            android:name=".Roupa1"
            android:exported="false" />
        <activity
            android:name=".Roupa2"
            android:exported="false" />
        <activity
            android:name=".Roupa3"
            android:exported="false" />
        <activity
            android:name=".Roupa4"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Inicial"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>